@charset "utf-8";
/* helps format the main elements */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    flex: 1;
}
/* formats the top div element on the golf and swimming pages */
.top {
    border: 5px solid #758BFD;
    background-color: #444B6E;
    grid-column: 1 / 2;
    padding: 20px;

}
/* formats the bottom div element on the golf and swimming pages */
.bottom {
    border: 5px solid #758BFD;
    background-color: #444B6E;
    grid-column: 1 / 2;
    padding: 20px;



}
/* formats the aside element for on the golf and swimming pages */
aside {
    border: 5px solid #758BFD;
    background-color: #444B6E;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 20px;
}