@charset "utf-8";

h1 {
    color: blue;
}

html {
    height: 100%;
    margin: 10;
    padding: 10;
    border: 10;
}

body {
    margin: 0px auto auto auto;
    width: 100%;
    position: relative;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}