@charset "utf-8";

h1 {
    color: blue;
}

html {
    height: 100%;
    margin: 30px;
    padding: 30px;
    border: 30px;
}

body {
    margin: 20px auto auto auto;
    width: 100%;
    position: relative;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}