@charset "utf-8";


body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #C9ADA7;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #FFFFE8
}

header,
footer {
    background-color: #3D315B;
    color: #FFFFE8;
    padding: 1em;
    right: 0;
    left: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    list-style-type: none;
}